*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(39, 39, 103);
    color: white;
    height: 5rem;
    line-height: 5rem;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.choice{
    height: 140px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    background-color: rgb(39, 39, 103);
    border-radius: 50%;
}
img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;

}
#score{
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}
p{
    font-size: larger;
}
.number{
    font-size: 40px;
}

h2{
    background-color: rgb(39, 39, 103);
    color: white;
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    margin: 40px 0 0 0;
    display: inline;
    border-radius: 2px;
}